.feed {
  margin-top: 40px;
  width: 592px;
}

.feed article {
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  padding: 24px;
  border-radius: 8px;
  width: 100%;
}

.feed article+article {
  margin-top: 24px;
}

.feed article p {
  line-height: 160%;
}

.feed article footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed footer .user-details {
  display: flex;
  align-items: center;
}

.feed footer .user-details strong {
  font-size: 14px;
  margin-left: 16px;
}

.feed footer .time {
  display: flex;
  align-items: center;
}

.feed footer .time span {
  color: var(--gray-500);
  font-size: 12px;
  margin-left: 8px;
}

.feed-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feed-status h1,
.feed-status h2 {
  font-weight: normal;
  text-align: center;
  max-width: 472px;
}

.feed-status h1 {
  font-size: 40px;
}

.feed-status h2 {
  color: var(--gray-500);
  font-size: 16px;
  margin-top: 16px;
}

@media (max-width: 1023px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px
  }

  #title-feed,
  #title-mostview {
    font-size: 24px;
  }

  #subtitle-feed,
  #subtitle-mostview {
    max-width: 250px;
  }

  .feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .feed footer .user-details,
  .feed footer .time {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .feed footer .user-details strong,
  .feed footer .time span {
    margin-left: 0;
    text-align: center;
  }
}